<html>
    <head>
        <title>
            ABOUT
        </title>
    </head>
    <body style="background-color: floralwhite">
        <h1>Banking in India</h1>
        <p>Modern banking in India originated in the last decade of the 18th century. 
           Among the first banks were the Bank of Hindustan, which was established in 1770 and liquidated in 1829–32; 
           and the General Bank of India, established in 1786 but failed in 1791.
        </p>
        <img src="https://image.shutterstock.com/image-photo/double-exposure-graph-rows-coins-600w-531998662.jpg" height="400px" width="500px">
        <br>
        <br>
        <br>
        <a href='/home/'>Home</a>
        <p>The largest bank and the oldest still in existence, is the State Bank of India (S.B.I). 
           It originated and started working as the Bank of Calcutta in mid-June 1806. 
           In 1809, it was renamed as the Bank of Bengal. This was one of the three banks founded by a presidency government, the other two were the Bank of Bombay in 1840 and the Bank of Madras in 1843. 
           The three banks were merged in 1921 to form the Imperial Bank of India, which upon India's independence, became the State Bank of India in 1955. 
           For many years the presidency banks had acted as quasi-central banks, as did their successors, until the Reserve Bank of India[5] was established in 1935, under the Reserve Bank of India Act, 1934.
        </p>   
        <img src="https://image.shutterstock.com/image-photo/financial-graph-chart-rows-coins-260nw-1383270632.jpg" height="400px" width="500px"> 
        <br>
        <br>
        <br>
        <a href='/home/'>Home</a>
        <p>The Indian banking sector is broadly classified into scheduled and non-scheduled banks. 
            The scheduled banks are those included under the 2nd Schedule of the Reserve Bank of India Act, 1934. 
            The scheduled banks are further classified into: nationalised banks; State Bank of India and its associates; 
            Regional Rural Banks (RRBs); foreign banks; and other Indian private sector banks.[7] The term commercial banks refers to both scheduled and non-scheduled commercial banks regulated under the Banking Regulation Act, 1949.[10]
            Generally the supply, product range and reach of banking in India is fairly mature-even though reach in rural India and to the poor still remains a challenge. 
            The government has developed initiatives to address this through the State Bank of India expanding its branch network and through the National Bank for Agriculture and Rural Development (NABARD) with facilities like microfinance.
        </p>
        <img src="https://image.shutterstock.com/image-photo/stacks-gold-coins-on-banking-260nw-525649294.jpg" height="400px" width="500px">
        <br>
        <br>
        <br>

        <a href='/home/'>Home</a>
        </body>
</html>
<style>
a{
    color: darkblue;
    font-size: 50px;
}
</style>